.container {
    display: flex;
    /* flex-direction: column; */
}

aside,
main {
    /* border: 2px solid red; */
    padding: 0 2.5rem 0 2.5rem;
}

aside {
    width: 15%;
    background-color: #f9f9f9;
    border-right: 2px solid #e1e1e1;
}

main {
    width: 80%;
}